/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Header */

header div {
    border: 3px solid black;
    font-family: Montserrat;
    text-align: center;
    color: white;
    background-color: black;
}

header div nav a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: x-large;
    margin: 5rem 5rem;
    padding: 1rem 1rem;
    background-color: red;
    border-radius: 8px;
}

header div nav a:hover {
    background-color: rgb(126, 241, 168);
    color: black;
}

h1 {
    text-align: center;
    font-family: Montserrat;
}